<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/Projeto/dist/output.css" rel="stylesheet" />
    <title>Home</title>
  </head>
  <body class="bg-blue-500">
    <h1>Bem vindo!</h1>
    <br />
    <div
      class="flex flex-col place-items-center gap-5 mt-50 ml-auto mr-auto bg-white p-4 rounded-lg shadow-lg w-48 h-38"
    >
      <a href="LoginView.php" class="inset-y-3">Entre</a>
      <p>ou</p>
      <a href="CadastroView.php">Cadastre-se</a><br />
    </div>
  </body>
</html>
